<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="checkspec.eclipse.launching.checkSpec"
            icon="img/checkspec.png"
            id="checkspec.eclipse.launching.ui.launchConfigurationTypeImage.checkSpec">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="checkspec.eclipse.launching.ui.tabs.CheckSpecTabGroup"
            id="checkspec.eclipse.launching.ui.launchConfigurationTabGroup.checkSpec"
            type="checkspec.eclipse.launching.checkSpec">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="checkspec.eclipse.launching.ui.shortcuts.CheckSpecLauncherShortcut"
            icon="img/checkspec.png"
            id="checkspec.eclipse.launching.ui.checkSpecShortcut"
            label="CheckSpec"
            modes="run, debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
                <iterate>
                 <and>
                  <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                  <adapt type="org.eclipse.jdt.core.IJavaElement">
                  	<test property="org.eclipse.jdt.core.isInJavaProject"/>
                  </adapt>
                 </and>
                </iterate>
               </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
