<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="checkspec.eclipse.CheckSpecLaunchConfigurationDelegate"
            id="checkspec.eclipse.checkSpec"
            modes="run"
            name="CheckSpec">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="checkspec.eclipse.ui.tabs.CheckSpecTabGroup"
            id="checkspec.eclipse.ui.launchConfigurationTabGroup.checkSpec"
            type="checkspec.eclipse.checkSpec">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="checkspec.eclipse.checkSpec"
            icon="img/checkspec.png"
            id="checkspec.eclipse.ui.launchConfigurationTypeImage.checkSpec">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="checkspec.eclipse.ui.shortcuts.CheckSpecSingleLauncherShortcut"
            icon="img/checkspec.png"
            id="checkspec.eclipse.ui.checkSpecShortcut"
            label="CheckSpec"
            modes="run, debug">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
                <iterate>
                 <and>
                  <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                  <adapt type="org.eclipse.jdt.core.IJavaElement">
                  	<test property="org.eclipse.jdt.core.isInJavaProject"/>
                  </adapt>
                 </and>
                </iterate>
               </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="checkspec.eclipse.ui.shortcuts.CheckSpecMultipleLauncherShortcut"
            icon="img/checkspec.png"
            id="checkspec.eclipse.ui.checkSpecMultipleShortcut"
            label="CheckSpec on all projects"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.java">
                        </test>
                        <adapt
                              type="org.eclipse.jdt.core.IJavaElement">
                           <test
                                 property="org.eclipse.jdt.core.isInJavaProject">
                           </test>
                        </adapt>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="checkspec.eclipse.classpath.CheckSpecContainerInitializer"
            id="checkspec.eclipse.CHECKSPEC_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="checkspec.eclipse.ui.classpath.ClasspathContainerPage"
            id="checkspec.eclipse.CHECKSPEC_CONTAINER"
            name="CheckSpec">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.jdt.ui.java"
            class="checkspec.eclipse.ui.view.ResultView"
            fastViewWidthRatio="0.40"
            icon="img/checkspec.png"
            id="checkspec.eclipse.ui.resultView"
            name="CheckSpec"
            restorable="true">
      </view>
   </extension>
</plugin>
